# Windows App
*.user
*.suo
__MACOSX
[Dd]ebug*/
[Rr]elease*/
build/
obj/

# Arduino
*.bak
*.hex
*.elf
*.map
*.lst
*.sym
*.lss
*.eep
*.s
*.o
*.d
*.dep
*.cmd
*.tmp
*.log
*.swp
*.swo

# Visual Studio / SharpDevelop
*.ncb
*.aps
*.plg
*.pch
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.sbr
*.ilk
*.lib
*.exp
*.obj
*.pdb
*.exe
*.cache
*.scc
*.vspscc
*.vssscc

# OS junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
$RECYCLE.BIN/